/* General styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: #000;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: bold;
}

.item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
}

.item:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* item details component styles */

.item-detail {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
}

.price {
  font-size: 20px;
  font-weight: bolder;
}

button:hover {
  background-color: #555555;
}

.item-detail input {
  width:30px;
  height:50px;
  margin: 10px 0 0 10px;
  font-size: 22px;
  text-align: right;
  border: none;
}

.add-minus{
  height:50px;
  width: 50px;
  color: #000;
  font-size: 22px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-button {
  margin-top: 10px;
  height: 50px;
  width: 250px;
  background-color: #026b14;
  color: #fff;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cart component styles */
.cart {
  margin: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0 20px;
}

.thumbnail {
  width: 100px; 
  height: 100px;
  margin-right: 10px; 
  object-fit: cover; /* To maintain aspect ratio */
}

.total-price {
  font-weight: bold;
  margin-left: 20px;
}

/* Navigation bar styles */

.navbar {
  background-color: #333;
  padding: 10px 20px;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

.navbar-item a:hover {
  text-decoration: underline;
}

/* Popup notification styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin:20px;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
}

.item-image img {
  width: 100%; /* makes image responsive */
  max-height: 200px;
  object-fit: cover; /* makes image cover the div */
}

/* image styles on item details component */
.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}